*{
    box-sizing: border-box;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    border: 2px solid rgb(236, 233, 233);
    width: 450px;
    margin: 20px;
    cursor: pointer;
    border-radius:11px;
    box-shadow: 0px 0px 15px #7e7d7d;
    transition: .5s linear;
}
.container:hover{
    box-shadow: 0px 0px 15px  #b3b3b3;
}
.img-container{
    width: 450px;
    height: 450px;
    position: relative;
}
.img{
    width: 100%;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}

.heading{
    margin: 10px 25px;
    font-size: 30px;
    font-weight: bold;
}
.description{
    margin: 10px 25px;
    font-size: 18px;
    font-weight:400px ;
}
.price{
    margin: 10px 25px;
    font-size: 25px;
    font-weight:400px ;
    display: inline-block;
    
}
.rating{
    display: inline;
    color: #FFCD3C;
    margin-left: 80px;
    font-size: 23px;
}
.btn-container{
    text-align: center;
}
.btn{
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin: 10px 0px;
    border: none;
    background-color: #0a0c0e;
    color:white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 11px;
    transition: 1s linear ;
}
.btn:hover{
     background-color: rgb(44, 177, 44);
     color: white;
}

